<%= form_tag :controller => "manage", :action => "transfor_address", :method => "post", :class => "123" do %>
	<p>Name: <%= text_field "transfor", "name" %></p>
	<p>Address: <%= text_field "transfor", "address" %></p>
	<p><input type="Submit" value="Transfor"></p>
<% end %>	