<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<header>
	<title>
		<%= @page_title%>
	</title>
</header>
<body>
	<a href="http://localhost:3000">
	<h1 class="banner">
		The R4R Music Store
	</h1>
	</a>
	<%= yield %>
	<hr/>
	<p>
		Copyright &copy; 2014, R4RMusic
	</p>
</body>
</html>
